<!-- <div class="row">
    <br>
    <div class="column left" style="background-color:#aaa;">
        <h2>Stackoverflow</h2>
        <div class="main-container">
            <div>Titel:{{stackData.title}}</div>
        </div>
    </div>
    <div class="column middle" style="background-color:#bbb;">
        <h2>Angular2</h2>
        <p>Folgt ...</p>
    </div>
    <div class="column right" style="background-color:#ccc;">
        <h2>Weather</h2>
        <p>Folgt..</p>
    </div>
</div> -->

<div class="card">
    <div class="card-header">
      <div class="card-title h5 text-center">Stackoverflow</div>
      <div class="card-subtitle text-center text-gray"></div>
    </div>
    <div class="card-body" >
        <div>Titel:{{stackData.title}}</div>
    </div>
  </div>